*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

.wrapper {
  min-height: 100vh;
  background-color: #ecf2f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 10px;
  height: 300px;
}

.content .img {
  width: 300px;
  background-image: url("../images/drawers.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  border-radius: 10px 0 0 10px;
}

.content .tips {
  height: 300px;
  width: 600px;
  padding: 30px;
  background-color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.content .tips .heading {
  color: #48556a;
  margin-bottom: 20px;
}

.content .tips .text {
  margin-bottom: 20px;
  font-size: 16px;
  color: #6d7f97;
}

.content .tips .info {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .tips .info .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.content .tips .info .photo {
  height: 50px;
  border-radius: 50%;
}

.content .tips .info .container {
  padding-left: 30px;
}

.content .tips .info .container .name {
  font-size: 16px;
  font-weight: 700;
  color: #6d7f97;
  margin-bottom: 5px;
}

.content .tips .info .container .date {
  color: #d1d2e0;
}

.content .tips .info .share {
  width: 40px;
  padding: 8px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-color: #ecf2f8;
  margin-left: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.content .tips .info .share:hover {
  cursor: pointer;
  background-color: #48556a;
}

.content .tips .info .share:focus {
  outline: transparent;
  background-color: #48556a;
}

.popup {
  background-color: #48556a;
  padding: 10px 30px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  position: absolute;
  z-index: 1;
  bottom: 100px;
  right: -50px;
}

.popup::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  z-index: 10;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #48556a;
}

.popup p {
  color: #6d7f97;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 13px;
}

.popup img {
  width: 75%;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a {
  position: relative;
}

a:focus {
  outline: transparent;
  border: none;
}

a:focus::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%;
  padding: 1px;
  background-color: #ecf2f8;
}

@media screen and (max-width: 1000px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: auto;
    width: 350px;
    margin: 50px 30px;
  }
  .content .img {
    height: 240px;
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  .content .heading {
    font-size: 1rem;
  }
  .content .text {
    font-weight: 400;
  }
  .content .tips {
    width: 100%;
    height: auto;
    padding: 30px;
    border-radius: 0 0 10px 10px;
  }
  .content .tips .info .container .name {
    font-size: 13px;
    color: #48556a;
    opacity: 0.9;
  }
  .content .tips .info .container .date {
    font-size: 13px;
  }
  .content .tips .info .share {
    margin-left: 0;
  }
}

.popup {
  right: 0;
  bottom: 90px;
}

.popup::after {
  left: 75%;
}
/*# sourceMappingURL=style.css.map */