// Reset defaults

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// variables

$veryDarkGrayishBlue: hsl(217, 19%, 35%);
$desaturatedDarkBlue: hsl(214, 17%, 51%);
$grayishBlue: hsl(212, 23%, 69%);
$lightGrayishBlue: hsl(210, 46%, 95%);

// mixin

@mixin flex($flex-direction, $justify, $align) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify;
  align-items: $align;
}

:root {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

.wrapper {
  min-height: 100vh;
  background-color: $lightGrayishBlue;
  @include flex(row, center, center);
}

.content {
  @include flex(row, flex-start, flex-start);
  border-radius: 10px;
  height: 300px;
  .img {
    width: 300px;
    background-image: url("/images/drawers.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 10px 0 0 10px;
  }
  .tips {
    height: 300px;
    width: 600px;
    padding: 30px;
    background-color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    @include flex(column, space-between, flex-start);
    .heading {
      color: $veryDarkGrayishBlue;
      margin-bottom: 20px;
    }
    .text {
      margin-bottom: 20px;
      font-size: 16px;
      color: $desaturatedDarkBlue;
    }
    .info {
      width: 100%;
      height: 50px;
      @include flex(row, space-between, center);
      .profile {
        @include flex(row, flex-start, flex-start);
      }
      .photo {
        height: 50px;
        border-radius: 50%;
      }
      .container {
        padding-left: 30px;
        .name {
          font-size: 16px;
          font-weight: 700;
          color: $desaturatedDarkBlue;
          margin-bottom: 5px;
        }
        .date {
          color: hsl(236deg, 19%, 85%);
        }
      }
      .share {
        width: 40px;
        padding: 8px;
        border: 2px solid transparent;
        border-radius: 50%;
        background-color: $lightGrayishBlue;
        margin-left: 30px;
        transition: 0.5s;
        &:hover {
          cursor: pointer;
          background-color: $veryDarkGrayishBlue;
          fill: hsl(210, 46%, 95%);
        }
        &:focus {
          outline: transparent;
        }
        &:focus path {
          fill: #fff;
        }
      }
    }
  }
}

.popup {
  background-color: $veryDarkGrayishBlue;
  padding: 10px 30px;
  border-radius: 10px;
  @include flex(row, space-between, center);
  width: 200px;
  position: absolute;
  z-index: 1;
  bottom: 100px;
  right: -50px;
  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $veryDarkGrayishBlue;
  }
  p {
    color: $desaturatedDarkBlue;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 13px;
  }
  img {
    width: 75%;
  }
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

@import "media";
